<!doctype html>
{% block htmlTag %}
<html lang="{{ site.lang }}" dir="{{ site.dir }}">
{% endblock htmlTag %}

  {% block head %}
    {% include 'partials/head.njk' %}
  {% endblock head %}

  {% block bodyTag %}
  <body layout="{{ layout }}">
    <!-- Google Tag Manager (noscript) -->
      <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WTZFRN7"
      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
  {% endblock bodyTag %}

  {% block hero %} 
    {% include 'partials/kh-hero.njk' %}
  {% endblock hero %}

  {% block valueProps %} 
    {% include 'partials/kh-value-props.njk' %}
  {% endblock valueProps %}

  {% block gettingStarted %}
    <section class="kh-start__wrapper">
      {% include 'partials/kh-getting-started.njk' %}
    </section>
  {% endblock gettingStarted%}

   {% block sdks %}
    <section class="kh-sdks__wrapper">
      {% include 'partials/kh-sdks.njk' %}
    </section>
  {% endblock sdks %}

  {% block connect %}
      {% include 'partials/kh-connect.njk' %}
  {% endblock connect %}

  {% block footer %}
    {% include 'partials/kh-footer.njk' %}
  {% endblock footer %}

  {% include 'partials/bottom.njk' %}
  </body>
</html>
