section.kh-start__wrapper {
  width: var(--content-area);
  /* min-width: var(--content-area); */
  max-width: var(--content-max-width);
  margin: 0 auto var(--section-margin) auto;
}

.kh-start__header-wrapper {
  /* Left this in for now until design is resolved. Current copy doesn't look good at 100% */
  /* max-width: 70%; */
}
.kh-start__header {
  margin-bottom: 0.5rem;
}

.kh-start__subheader-text {
  line-height: var(--line-height);
}

.kh-start__items-wrapper {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}


.kh-start__item-wrapper {
  width: calc(100%);
  display: flex;
  margin-bottom: 2rem;
  text-decoration: none;
  border-radius: 64px;
  transition: all 0.2s ease-in;
  background-color: black !important;
  border: 1px solid var(--white)
}

.kh-start__item-wrapper-half {
  width: calc(50% - 1rem);
}

.kh-start__item-wrapper:hover {
  /* box-shadow: 1px 1px 5px var(--primary-color); */
  /* transform: scale(1.01); */
  background-color: var(--navIcon-background-color) !important;
  border: 1px solid var(--primary-color);
}

.kh-start__item-wrapper:visited {
  color: var(--white);
}

.kh-start__graphic-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.kh-start__graphic {
  width: 7rem;
  height: 7rem;
  margin: 0.5rem;
}

.kh-start__item-details-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.kh-start__item-details {
  margin: 1rem;
}
.kh-start__item-header {
  color: var(--primary-color);
  margin: 0;
}
.kh-start__item-text {
  margin: 0.5rem 0 0 0;
  line-height: var(--line-height);
  text-decoration: none;
}

@media (max-width: 768px) {
  .kh-start__wrapper {
    margin: 1rem auto;
  }

  .kh-start__header-wrapper {
    max-width: 100%;
  }

  .kh-start__header {
    margin-top: 0;
  }

  .kh-start__item-wrapper {
    width: 100%;
    position: relative;
    padding-left: 1.5rem;
    border-radius: 5px;
  }

  .kh-start__graphic-wrapper {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--primary-color);
    width: 1.5rem;
    height: 100%;
  }

  .kh-start__graphic {
    display: none;
  }
}
