.kh-connect__wrapper {
  width: var(--content-area);
  max-width: var(--content-max-width);
  margin: 2rem auto var(--section-margin) auto;
  display: flex;
  border-top: 2px solid var(--primary-text-color);
  padding-top: 3rem;
}
.kh-connect__item-wrapper {
}
.kh-connect__header {
  margin-top: 0;
  font-size: 1rem;
}
.kh-connect__subheader-text {
  margin-bottom: 1.4rem;
  line-height: var(--line-height);
  width: 90%;
}

.kh-connect__link {
  display: flex;
  text-decoration: none;
  box-shadow: var(--link-shadow);
  background-color: var(--primary-color-lightest);
  width: 8rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-color);
  font-weight: 600;
  font-size: 0.7rem;
}

.kh-connect__link:hover {
  box-shadow: var(--link-shadow-hover);
  transition: 0.3s;
}

@media (max-width: 768px) {
  .kh-connect__wrapper {
    flex-direction: column;
  }

  .kh-connect__item-wrapper:last-of-type {
    margin-top: 3rem;
  }
}
