.kh-footer {
  background-color: var(--primary-color);
  min-height: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("/_merged_assets/kin_shapes-background.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.kh-footer-menu__wrapper {
  display: flex;
  width: var(--content-area);
  padding: var(--content-area-padding);
}

.kh-footer__menu-section {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  color: var(--primary-color-lightest);
  padding: 3rem 0;
}

.kh-footer__menu {
  width: 100%;
}

.kh-footer__menu-title {
  margin-top: 0;
}

.kh-footer__ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.kh-footer__li {
  padding-bottom: 1rem;
}

.kh-footer__link {
  text-decoration: none;
  color: var(--primary-color-lightest);
}

.kh-footer__link:hover,
.kh-footer__link:active {
  text-decoration: underline;
}

@media (max-width: 1200) {
}

@media (max-width: 1024) {
}

@media (max-width: 768px) {
  .kh-footer__menu-section {
    flex-wrap: wrap;
    padding: 2rem 0 3rem 0;
  }

  .kh-footer__menu {
    flex: 1;
    flex-basis: 50%;
  }

  .kh-footer__menu-title {
    margin-top: 1rem;
  }
}
