.kh-value__wrapper {
  width: var(--content-area);
  max-width: var(--content-max-width);
  margin: 0 auto var(--section-margin) auto;
}

h2.kh-value__header {
  margin-bottom: 3rem;
  margin-top: 0;
}
.kh-value__prop-wrapper {
  display: flex;
}
.kh-value__prop {
  margin-right: 1.5rem;
}
.kh-value__prop-header {
  color: var(--primary-color);
}

.kh-value__prop-text {
  line-height: var(--line-height);
}

.kh-value__prop-text:last-of-type {
  margin-bottom: 0;
}

@media (max-width: 768px) {
  .kh-value__prop-wrapper {
    flex-direction: column;
  }

  .kh-value__header {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .kh-value__prop {
    margin-bottom: 2rem;
  }

  .kh-value__prop:last-of-type {
    margin-bottom: 0;
  }

  .kh-value__prop-header {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
  }

  .kh-value__prop-text {
    margin-bottom: 2rem;
    margin-top: 0.5rem;
  }
}
