html {
  --primary-color: #dea2f7;
  /* --primary-color: #6f41e8; */
  --primary-color-lighter: #c9b5fd;
  --primary-color-lightest: #e6dff8;
  --primary-color-darker: #5728d1;
  --primary-color-accent: #cee5f6;
  --primary-color-lightest: #efedf5;
  /* --primary-text-color: #2c3e50; */
  --primary-text-color: #efedf5;
  --primary-lines-color: #ccc;
  --white: #ffffff;

  --code-button-color: #6f41e8;
  --code-button-background: #efedf5;
  --code-button-focus-color: #efedf5;
  --code-button-focus-background: #6f41e8;

  --code-tabs-background: #c9b5fd;
  --code-tabs-tabpanel-background: #efedf5;
  --markdown-syntax-background-color: #efedf5;
  --code-button-active-color: #c9b5fd;

  /* Contrast colors */
  --contrast-color-light: #fff;
  --contrast-color-dark: #1d3557;

  /* background-colors */
  /* --page-background: linear-gradient(
    160deg, 
    rgb(0, 0, 0) 0%,
    rgb(18, 0, 34) 67%, 
    rgb(48, 0, 77) 100%
  ); */
 
  --page-background: linear-gradient(
    160deg, 
    rgb(38, 0, 70) 0%,
    rgb(7, 0, 14) 30%, 
    rgb(48, 0, 77) 100%
  );

  --sidebar-background-overlay: rgb(11, 0, 22);
 
  --sidebar-background: linear-gradient(
    125deg, 
    rgb(63, 0, 99) 0%, 
    rgb(27, 0, 49) 20%, 
    rgb(31, 1, 63) 70%, 
    rgb(59, 1, 95) 100%
  );

      /* --header-background: rgb(20, 0, 39); */

  --header-background: linear-gradient(
      125deg, 
      rgb(38, 0, 70) 0%,
      rgb(18, 0, 32) 100%
  );
  /* --header-background: rgb(37, 1, 58); */
  /* --footer-background: rgb(37, 1, 58); */
  --footer-background: linear-gradient(66deg, rgba(253,253,254,1) 0%, rgba(217,161,250,1) 37%, rgba(255,215,188,1) 43%, rgba(255,250,255,1) 51%, rgba(244,223,255,1) 100%);
  /* --footer-background: #6f41e8; */

  /* typography */
  --text-color: black;
  --primary-font-family: 'Neue Haas Grotesk Display Pro', "Open Sans", sans-serif;
  /* --primary-font-family: "Open Sans", sans-serif; */
  --secondary-font-family: "Montserrat", sans-serif;
  --monospace-font-family: "SFMono-Regular", "Consolas", "Liberation Mono",
    "Menlo", "Courier", monospace;

  /* Common Margins, Paddings, Spacings, and Widths */
  --content-max-width: 1024px;
  --content-area: 80%;
  --line-height: 1.4;
  --section-margin: 4rem;

  /* Shadows and Hover States */
  --link-shadow: 2px 4px 3px rgba(0, 0, 0, 0.1);
  --link-shadow-hover: 3px 5px 4px rgba(0, 0, 0, 0.2);
  --markdown-link-color: #dea2f7;

  /* Nav Icons */
  --navIcon-background-color: rgb(30, 0, 48);
  /* --navIcon-background-color: rgb(51, 18, 70); */
  /* --navIcon-background-color: rgb(37, 1, 58); */
  --navIcon-border-color: #fff;
  --navIcon-text-color: #fff;
  --navIcon-text-color-hover: #fff;
  --navIcon-invert-filter: invert(0.9)
}

