@import url('./tailwind.css');
@import url('./twoslash-shiki.css');
@import url('./hljs-github-dark.css');
@import url('./markdown.css');

@layer base {
  @font-face {
    font-family: 'Virgil';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local(''), url('/fonts/virgil.woff2') format('woff2');
  }

  @font-face {
    font-family: 'Neue Haas Grotesk Display Pro';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local(''), url('/fonts/NeueHaasDisplayRoman.ttf') format('truetype');
  }

  .scroll-padding {
    scroll-padding-top: 150px;
  }

  body {
    @apply h-full bg-white text-slate-500 antialiased dark:bg-gray-950 dark:text-slate-400;
    font-family: 'Neue Haas Grotesk Display Pro', 'Open Sans', sans-serif;
  }

  svg {
    @apply max-w-full;
  }

  .svg-h-full svg {
    @apply h-full;
  }

  svg path {
    fill: currentColor;
  }

  code {
    @apply rounded bg-gray-200 py-0.5 px-1 text-sm dark:bg-gray-800;
  }

  .prose code.hljs {
    @apply bg-transparent;
  }

  .prose a code {
    @apply dark:text-violet-400 !important;
  }

  .prose pre {
    @apply rounded-lg border border-transparent dark:border-gray-900 dark:bg-black;
  }

  @media (min-width: 1024px) {
    .docs.prose pre {
      max-width: calc(100vw - 520px);
    }
    .blog.prose pre {
      max-width: calc(100vw - 352px);
    }
  }

  @media (min-width: 1280px) {
    .blog.prose pre {
      max-width: calc(100vw - 672px);
    }
  }

  @media (min-width: 1440px) {
    .docs.prose pre {
      max-width: calc(100vw - 840px);
    }
  }

  @media (min-width: 1536px) {
    .docs.prose pre {
      max-width: 707px;
    }
    .blog.prose pre {
      max-width: 832px;
    }
  }

  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-560px * 4));
    }
  }

  .animate-scroll {
    animation: scroll 50s linear infinite;
  }

  .animate-scroll:hover {
    animation-play-state: paused;
  }

  reach-portal {
    position: absolute;
    z-index: 100;
  }

  .options-table .option-title h2,
  .options-table .option-title h3,
  .options-table .option-title h4 {
    @apply text-slate-900 dark:text-white;
  }

  .options-table .option-title p {
    @apply text-sm text-slate-500 dark:text-slate-400;
  }

  .hyphens {
    hyphens: auto;
    -webkit-hyphens: auto;
  }

  html.dark {
    color-scheme: dark;
  }

  .NavCard-AllowOverflow div span {
    overflow: visible !important;
  }

  .svgFile.svgFile-kin {
    transform: scale(2.2);
    filter: invert(45%) sepia(100%) hue-rotate(-155deg) saturate(10) contrast(1);
  }

  .svgFile.svgFile-kin_name {
    filter: invert(45%) sepia(100%) hue-rotate(-155deg) saturate(10) contrast(1);
    margin-left: -10px !important;
  }

  html.dark .svgFile.svgFile-kin_name {
    filter: invert(50%) sepia(100%) hue-rotate(-150deg) saturate(3) contrast(1);
  }

  .svgFile.svgFile-unity {
    transform: scale(2);
  }

  .pngFile.pngFile-giftery {
    transform: scale(1.55);
  }

  .pngFile.pngFile-heroku {
    transform: scale(1.6);
  }

  /* Turn Black Icon Purple */
  .pngFile.pngFile-bubble,
  .pngFile.pngFile-giftery,
  .pngFile.pngFile-heroku,
  .svgFile.svgFile-screwdriver-wrench-solid,
  .svgFile.svgFile-list-check-solid,
  .svgFile.svgFile-server-solid,
  .svgFile.svgFile-docker-brands,
  .svgFile.svgFile-globe-solid,
  .svgFile.svgFile-coins-solid,
  .svgFile.svgFile-address-card-solid,
  .svgFile.svgFile-person-through-window-solid,
  .svgFile.svgFile-hand-holding-dollar-solid,
  .svgFile.svgFile-gem-solid,
  .svgFile.svgFile-gratipay-brands,
  .svgFile.svgFile-ghost-solid,
  .svgFile.svgFile-money-bill-transfer-solid,
  .svgFile.svgFile-icons-solid,
  .svgFile.svgFile-cart-shopping-solid,
  .svgFile.svgFile-circle-info-solid,
  .svgFile.svgFile-circle-question-regular,
  .svgFile.svgFile-rainbow-solid,
  .svgFile.svgFile-nft-token,
  .svgFile.svgFile-computer-mouse-solid,
  .svgFile.svgFile-code-solid,
  .svgFile.svgFile-diagram-project-solid,
  .svgFile.svgFile-money-bill-trend-up-solid,
  .svgFile.svgFile-sack-dollar-solid,
  .svgFile.svgFile-cubes-solid {
    filter: invert(55%) sepia(100%) hue-rotate(-155deg) saturate(10) contrast(1);
  }

  .KREChecklistCheckbox {
    margin-right: 0.5rem;
    margin-bottom: 1rem;
  }

  .headerLogoLabel {
    transform: translate(-25px, 2px);
  }

  .HeroCards {
    margin-top: 20px !important;
  }

  header h1 {
    margin-top: 20px !important;
    font-size: 5em !important;
    line-height: 1em !important;
  }

  .BrandImage p {
    margin: 0;
  }

  .BrandImage p img {
    margin: auto;
    padding: 0;
    height: 100px;
    width: 100px;
  }

  .forceRow {
    background-color: pink;
    display: flex;
    flex-wrap: wrap;
  }

  /* Avoid Bullet Points having weird spacing with links */
  ul li a.inline-flex.items-center.space-x-1 {
    margin-top: 0;
    margin-bottom: 0;
  }
}
