<section class="kh-value__wrapper">
  <h2 class="kh-value__header">{{ reasonHeader }}</h2>
  {# <h2 class="reason-header">{{ reasonHeader }}</h2> #}
  {# <section class="reasons"> #}
  <div class="kh-value__prop-wrapper">
    {% for reason in reasons %}
      <article class="kh-value__prop">
        <h3 class="kh-value__prop-header">{{ reason.header }}</h3>
        <p class="kh-value__prop-text">{{ reason.text | safe }}</p>
      </article>
    {% endfor %}
  </div>
</section>