
<div class="kh-start__items-wrapper">
    {% for item in whyKin %}
    <a href={{ item.link }} class="kh-start__item-wrapper">
        <span class="kh-start__graphic-wrapper ">
            <img class="kh-start__graphic" src={{ item.graphicUrl | asset | url }} alt="something">
        </span>
        <span class="kh-start__item-details-wrapper">
            <span class="kh-start__item-details">
                <h3 class="kh-start__item-header">{{ item.header }}</h3>
                <p class="kh-start__item-text">{{ item.text | safe }}</p>
            </span>
        </span>
    </a>
    {% endfor %}
    
    {% for item in useCases %}
    <a href={{ item.link }} class="kh-start__item-wrapper">
        <span class="kh-start__graphic-wrapper ">
            <img class="kh-start__graphic" src={{ item.graphicUrl | asset | url }} alt="something">
        </span>
        <span class="kh-start__item-details-wrapper">
            <span class="kh-start__item-details">
                <h3 class="kh-start__item-header">{{ item.header }}</h3>
                <p class="kh-start__item-text">{{ item.text | safe }}</p>
            </span>
        </span>
    </a>
    {% endfor %}
   
    {% for item in codeNoCode %}
    <a href={{ item.link }} class="kh-start__item-wrapper kh-start__item-wrapper-half">
        <span class="kh-start__graphic-wrapper ">
            <img class="kh-start__graphic" src={{ item.graphicUrl | asset | url }} alt="something">
        </span>
        <span class="kh-start__item-details-wrapper">
            <span class="kh-start__item-details">
                <h3 class="kh-start__item-header">{{ item.header }}</h3>
                <p class="kh-start__item-text">{{ item.text | safe }}</p>
            </span>
        </span>
    </a>
    {% endfor %}
   
    {% for item in integrations %}
    <a href={{ item.link }} class="kh-start__item-wrapper">
        <span class="kh-start__graphic-wrapper ">
            <img class="kh-start__graphic" src={{ item.graphicUrl | asset | url }} alt="something">
        </span>
        <span class="kh-start__item-details-wrapper">
            <span class="kh-start__item-details">
                <h3 class="kh-start__item-header">{{ item.header }}</h3>
                <p class="kh-start__item-text">{{ item.text | safe }}</p>
            </span>
        </span>
    </a>
    {% endfor %}

</div>