<a class="logo-link" href="{{ '/' | url }}">
  <img src="{{ '/_assets/kin_logo_with_name.svg' | asset | url }}" alt="{{ site.logoAlt }}" />
  <span class="logo-link-text">[ developer docs ]</span>
  <div class='sections-nav'>
    <a class='section-link' href='/essentials/'>
      <span class='section-link-text'>Essentials</span>
    </a>
    <a class='section-link' href='/use-cases/'>
      <span class='section-link-text'>Use Cases</span>
    </a>
    <a class='section-link' href='/developers/'>
      <span class='section-link-text'>Developers</span>
    </a>
    <a class='section-link' href='/non-developers/'>
      <span class='section-link-text'>Non-Developers</span>
    </a>
    <a class='section-link' href='/integrations/'>
      <span class='section-link-text'>Integrations</span>
    </a>
  </div>
</a>
