<a class="logo-link" href="{{ '/' | url }}">
  <img src="{{ '/_assets/kin_logo_with_name.svg' | asset | url }}" alt="{{ site.logoAlt }}" />
  <span class="logo-link-text">[ developer docs ]</span>
</a>
