<h2 class="kh-sdks__header">{{ sdkSectionHeader }}</h2>
<p style="font-size: 1.5rem;">As of November 28th, 2021 <span style="color: var(--primary-color);">Unity and Flutter SDKs are under development</span> — private beta release date coming soon.
<p class="kh-sdks__subheader">{{ officialSDKHeader }}</p>
<div class="kh-sdks__links-wrapper">
    {% for sdk in officialList %}
        <a href={{sdk.link}} class="kh-sdks__link">
            <span class="kh-sdks__link-info-wrapper">
                <span class="kh-sdks__graphic-wrapper">
                    <img class="kh-sdks__graphic" src={{ sdk.graphicUrl | asset | url }} alt={{name}}>
                </span>
                <span class="kh-sdks__name-wrapper">
                    <p class="kh-sdks__name">{{ sdk.name }}</p>
                </span>
            </span>
        </a>
    {% endfor %}
</div>
<p class="kh-sdks__subheader">{{ communitySDKHeader }}</p>
<div class="kh-sdks__links-wrapper">
    {% for sdk in communityList %}
        <a href={{sdk.link}} class="kh-sdks__link">
            <span class="kh-sdks__link-info-wrapper">
                <span class="kh-sdks__graphic-wrapper">
                    <img class="kh-sdks__graphic" src={{ sdk.graphicUrl | asset | url }} alt={{name}}>
                </span>
                <span class="kh-sdks__name-wrapper">
                    <p class="kh-sdks__name">{{ sdk.name }}</p>
                </span>
            </span>
        </a>
    {% endfor %}
</div>
